{% extends 'master.html' %}

{% block title %}
    Checkpoint Firewall Automation
{% endblock %}

{% block meta %}
    <meta content="Checkpoint Automation" name="description">
    <meta content="Checkpoint Firewall Automation Mervin Hemaraju" name="keywords">
{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Portfolio Details ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">Checkpoint Firewall Automation</h2>
            <div class="owl-carousel portfolio-details-carousel">
              <img src="{{ url_for('static', filename='img/portfolio/checkpoint.webp') }}" class="img-fluid" alt="Checkpoint Firewall Automation">
              <img src="{{ url_for('static', filename='img/portfolio/python.webp') }}" class="img-fluid" alt="Python Logo">
            </div>
          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Python, Network Automation</li>
              <li><strong>Project URL</strong>: <a href="https://github.com/mervin16/Checkpoint-Automation" target='_blank'>GitHub Repo</a></li>
            </ul>

            <p>
                Checkpoint is a firewall technology that is used across many enterprises to protect their network. 
                This repo contains an automation tool to perform several tasks on a Checkpoint Management Server. 
                Available automated tasks are described in the linked Github repo.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details -->

  </main><!-- End #main -->
{% endblock %}