{% extends 'master.html' %}

{% block title %}
Mervin Hemaraju
{% endblock %}

{% block meta %}
  <meta content="An experienced Network Administrator with a demonstrated history of working in the telecommunications industry. Skilled in Networking, Android development and development in its own. Strong communication and professional with a CCNA focused in Routing and Switching. Develops my own applications and APIs to facilitate my life and for fun. Always up to learn and build new things." name="description">
  <meta content="Mervin Hemaraju Network Administrator Android Developer Mauritius" name="keywords">
{% endblock %}

{% block body %}
  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
      <ul>
        <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio"><i class="bx bx-book-content"></i> <span>Projects</span></a></li>
        <li><a href="#contact"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Mervin Hemaraju</h1>
      <p>I'm <span class="typed" data-typed-items="DevOps Administrator, Network Administrator"></span></p>
      <div class="social-links">
        <a href="https://www.facebook.com/mervin16/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://github.com/mervin16" target="_blank" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://play.google.com/store/apps/dev?id=5236150593519379806" target="_blank" class="play-store"><i class="bx bxl-play-store"></i></a>
        <a href="https://www.linkedin.com/in/mervin-hemaraju-584239126/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{{ url_for('static', filename='img/profile-img.webp')}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Network &amp; DevOps Administrator</h3>
            <p class="font-italic">
            An experienced Network & DevOps Administrator with a demonstrated history of working in the telecommunications industry. 
            Skilled in Networking, Android development and DevOps automation. Strong communication and professional with a CCNA focused in Routing and Switching and CCSA. 
            Develops my own applications and APIs to facilitate my life and for fun. 
            Always up to learn and build new things.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 16 March 1996</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> www.th3pl4gu3.com</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> (+230) 5** ****</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Location:</strong> Beau Bassin, Mauritius</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> {{age}}</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Bachelor of Science</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> <a href="mailto:mervinhemaraju16@gmail.com">mervinhemaraju16@gmail.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Technical Skills</h2>
        </div>

        <p class="text-center"><small>Note: The progress bar depicts how much i used the technical skills</small></p>

        <br>
        
        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Checkpoint Firewall Automation</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Cisco Platform Automation</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Network Automation</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Ansible</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JSON, YAML, XML</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python Programming</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Kotlin & Java Programming</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">GO Programming (Recently Started)</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Android Development</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Docker (Recently Started)</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Git Version Control</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">AWS Security Groups</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Checkpoint Firewall Security</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Fortinet Firewall Security</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Cisco ASA Firewall Security</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Networking</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Cisco Networking</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">F5 BigIP Load Balancing</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Basic Linux Interactions</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Flask & GO API</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Firebase</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Mervin Hemaraju</h4>
              <p>
                <em>
                An experienced Network / DevOps Administrator seeking a full-time position in the field of IT networking / DevOps, 
                where knowledge and skills can be applied for continuous improvement.
                </em>
              </p>
              <ul>
                <li>Beau Bassin, Mauritius</li>
                <li>(+230) 5** ****</li>
                <li><a href="mailto:mervinhemaraju16@gmail.com">mervinhemaraju16@gmail.com</a></li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Cisco Certified DevNet Associate</h4>
              <h5>2020 - Present</h5>
              <p><em>Cisco Inc.</em></p>
            </div>
            <div class="resume-item">
              <h4>Checkpoint Certified Security Administrator</h4>
              <h5>Awarded in 2020</h5>
              <p><em>Checkpoint Security</em></p>
            </div>
            <div class="resume-item">
              <h4>Cisco Certified Network Associate</h4>
              <h5>Awarded in 2019</h5>
              <p><em>Cisco Inc.</em></p>
            </div>
            <div class="resume-item">
              <h4>Bsc (Hons) Computer Science with Network Security</h4>
              <h5>2015 - 2018</h5>
              <p><em>University of Technology, Mauritius</em></p>
            </div>
            <h3 class="resume-title">Personal Skills</h3>
            <div class="resume-item">
              <h5>Reliable and professional</h5>
            </div>
            <div class="resume-item">
              <h5>Organized</h5>
            </div>
            <div class="resume-item">
              <h5>Fast learner</h5>
            </div>
            <div class="resume-item">
              <h5>Flexible with new technologies</h5>
            </div>
            <div class="resume-item">
              <h5>Always ready to learn more</h5>
            </div>
            <div class="resume-item">
              <h5>Fluent in English and French language</h5>
            </div>
            <h3 class="resume-title">Technical Skills</h3>
            <p>Take a look at the <a href="#skills">Technical Skills</a> section.</p>

          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Network & DevOps Administrator</h4>
              <h5>October 2019 - Present</h5>
              <p><b>Linkbynet Indian Ocean </b></p>
              <p><em>Network Administrator:</em></p>
              <ul>
                <li>Worked on several firewall technologies such as Checkpoint, Fortinet, Netfilter but mainly Checkpoint</li>
                <li>Worked on AWS Cloud technology to manage security groups</li>
                <li>Performed several network flow management which was impacting thousands of users around the globe</li>
                <li>Performed SSL installation on F5 Load Balancer</li>
                <li>Performed SSL installation on HAProxy</li>
                <li>Deployed Virtual Servers on F5 Load Balancer.</li>
                <li>Worked on Cisco ASA to manage flows for customers.</li>
                <li>Deployed a Checkpoint Firewall in High Availability cluster mode from scratch in LAB environment</li>
                <li>Deployed several Arista Switches and configured them with VLAN in LAB environments</li>
              </ul>
              <p><em>DevOps Administrator:</em></p>
              <ul>
                <li>Built and deployed Python Scripts to improve administrators' workflow, increasing scalability, and optimizing speed</li>
                <li>Automated several tasks on Checkpoint Firewall which improved workflow and ticket handling.</li>
                <li>Managed Python scripts and Ansible playbooks in production environment to automate complex and time consuming tasks.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Video Network Specialist</h4>
              <h5>February 2018 - October 2019</h5>
              <p><b>Orange Business Services </b></p>
              <ul>
                <li>Worked as a dedicated support for General Electric Company on Cisco Telepresence endpoints</li>
                <li>Worked with Core devices such as Cisco Unified Call Manager & Telepresence Management Suite to register endpoints and perform troubleshooting in case of failing devices</li>
                <li>Worked with General Electric Network team to troubleshoot issues on the network</li>
                <li>Liaised directly with Cisco in need for a return merchandise authorization</li>
                <li>Worked with Cisco engineers to troubleshoot issues on failing Telepresence devices</li>
                <li>Designed and coded a C# based Windows Presentation Foundation (WPF) application to help experts with a concise follow up on tickets internally in Orange Business Services. They used to do ticket follow up manually. I advised them with the WPF approach and designed the whole program for them.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Intern</h4>
              <h5>August 2016 - February 2017</h5>
              <p><b>Proximity BBDO </b></p>
              <ul>
                <li>Worked on small Java Projects including Java Server Pages</li>
                <li>Learned Core Programming in Java</li>
                <li>Worked with MongoDB Database to connect to a Java Website</li>
                <li>Worked on the front-end team for 3 months</li>
                <li>Learned front-end technologies such as Sass, CSS Grids, Jade/Pug​</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="text-center mt-4"><a href="{{ url_for('static', filename='docs/CV_v2.1.pdf') }}" download="Mervin Hemaraju Resume.pdf" class="btn btn-primary" style="background-color: #0678e3; border-color: #0678e3;">Download Resume</a></div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Projects</h2>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-android">Android</li>
              <li data-filter=".filter-python">Python</li>
              <li data-filter=".filter-go">Go</li>
              <li data-filter=".filter-nautomation">Network Automation</li>
              <li data-filter=".filter-api">API</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-python filter-api">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/mes.webp') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mauritius Emergency Services API</h4>
                <p>Python API</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('static', filename='img/portfolio/mes.webp') }}" data-gall="portfolioGallery" class="venobox" title="Mauritius Emergency Services API"><i class="bx bx-zoom-in"></i></a>
                  <a href="/resume/mes" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Mauritius Emergency Services API Details"><i class="bx bx-detail"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-go filter-api">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/mesg.webp') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mauritius Emergency Services Go API</h4>
                <p>Go API</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('static', filename='img/portfolio/mesg.webp') }}" data-gall="portfolioGallery" class="venobox" title="Mauritius Emergency Services (MES)"><i class="bx bx-zoom-in"></i></a>
                  <a href="/resume/mesg" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Mauritius Emergency Services (MES) Details"><i class="bx bx-detail"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-python">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/th3pl4gu3.webp') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Th3pl4gu3</h4>
                <p>Python & Flask</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('static', filename='img/portfolio/th3pl4gu3.webp') }}" data-gall="portfolioGallery" class="venobox" title="Th3pl4gu3"><i class="bx bx-zoom-in"></i></a>
                  <a href="/resume/th3pl4gu3" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Th3pl4gu3 Details"><i class="bx bx-detail"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-python filter-nautomation">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/checkpoint.webp') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Checkpoint Firewall Automation</h4>
                <p>Python</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('static', filename='img/portfolio/checkpoint.webp') }}" data-gall="portfolioGallery" class="venobox" title="Checkpoint Firewall Automation"><i class="bx bx-zoom-in"></i></a>
                  <a href="/resume/checkpoint-automation" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Checkpoint Firewall Automation Details"><i class="bx bx-detail"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-python filter-api">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/fortweet.webp') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Fortweet</h4>
                <p>Python & Flask</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('static', filename='img/portfolio/fortweet.webp') }}" data-gall="portfolioGallery" class="venobox" title="Fortweet"><i class="bx bx-zoom-in"></i></a>
                  <a href="/resume/fortweet" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Fortweet Details"><i class="bx bx-detail"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-python filter-nautomation">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/ansible.webp') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Ansible Automation</h4>
                <p>Python</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('static', filename='img/portfolio/ansible.webp') }}" data-gall="portfolioGallery" class="venobox" title="Ansible Automation"><i class="bx bx-zoom-in"></i></a>
                  <a href="/resume/ansible-automation" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Ansible Automation Details"><i class="bx bx-detail"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-android">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/locky.webp') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Locky Password Manager</h4>
                <p>Android App</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('static', filename='img/portfolio/locky.webp') }}" data-gall="portfolioGallery" class="venobox" title="Locky Password Manager"><i class="bx bx-zoom-in"></i></a>
                  <a href="/resume/locky" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Locky Password Manager Details"><i class="bx bx-detail"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <p>Would you like to discuss more about these projects or other possible work? <a href="#contact">Let's talk</a>.</p>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location</h4>
                <p>Beau Bassin, Mauritius</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email</h4>
                <p><a href="mailto:mervinhemaraju16@gmail.com">mervinhemaraju16@gmail.com</a></p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Phone</h4>
                <p>(+230) 5** ****</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="{{ url_for('send_email') }}" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Mervin Hemaraju</h3>
      <p>Network &amp; DevOps Administrator</p>
      <div class="social-links">
      <a href="https://www.facebook.com/mervin16/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://github.com/mervin16" target="_blank" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://play.google.com/store/apps/dev?id=5236150593519379806" target="_blank" class="play-store"><i class="bx bxl-play-store"></i></a>
        <a href="https://www.linkedin.com/in/mervin-hemaraju-584239126/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Mervin Hemaraju</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Made possible thanks to <a href="http://zanbalak.com/" target="_blank">Zanbalak</a>
      </div>
    </div>
  </footer><!-- End Footer -->
{% endblock %}