{% extends 'master.html' %}

{% block title %}
    Mauritius Emergency Services API
{% endblock %}

{% block meta %}
    <meta content="Mauritius Emergency Services Python API" name="description">
    <meta content="Mauritius Emergency Services API Mervin Hemaraju" name="keywords">
{% endblock %}


{% block body %}

<main id="main">

    <!-- ======= Portfolio Details ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">Mauritius Emergency Services API</h2>
            <div class="owl-carousel portfolio-details-carousel">
              <img src="{{ url_for('static', filename='img/portfolio/mes.webp') }}" class="img-fluid" alt="MES Banner">
            </div>
          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Python, Flask, API</li>
              <li><strong>Project URL</strong>:
                <a href="https://mes.th3pl4gu3.com" target='_blank'>API Endpoint</a> | 
                <a href="https://github.com/mervin16/Mauritius-Emergency-Services-Api" target='_blank'>GitHub Repo</a></li>
            </ul>

            <p>
              Mauritius Emergency Services is an API that provides a list of emergency phone services in Mauritius. 
              It has been written in Python and Flask Restful Framework hosted on Prometheus.
            </p>

          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details -->

  </main><!-- End #main -->

{% endblock %}