{% extends 'master.html' %}

{% block title %}
    Mauritius Emergency Services (MES)
{% endblock %}

{% block meta %}
    <meta content="Mauritius Emergency Services is an API that provides a list of emergency phone services in Mauritius. It has been designed in Python and Flask Restful Framework hosted on Prometheus." name="description">
    <meta content="Mauritius Emergency Services API Mervin Hemaraju" name="keywords">
{% endblock %}


{% block body %}

<main id="main">

    <!-- ======= Portfolio Details ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">Mauritius Emergency Services (MES)</h2>
            <div class="owl-carousel portfolio-details-carousel">
              <img src="{{ url_for('static', filename='img/portfolio/mes.jpg') }}" class="img-fluid" alt="MES Banner">
            </div>
          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Android App</li>
              <li><strong>Project URL</strong>: <a href="https://github.com/mervin16/M-E-S" target='_blank'>GitHub</a></li>
            </ul>

            <p>
            MES is an upcoming Android app which will provide a list of emergency phone services available in Mauritius. It will make use of my MES API in Python to provide the services. MES Android is still under development.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details -->

  </main><!-- End #main -->

{% endblock %}