{% extends 'master.html' %}

{% block title %}
    Mauritius Emergency Services GO (MESG)
{% endblock %}

{% block meta %}
    <meta content="Mauritius Emergency Services is an API that provides a list of emergency phone services in Mauritius. It has been designed in Go and Gin Gonic Framework hosted on  Prometheus. It is a improvement of the MES written in Python Current supported languages are English and French." name="description">
    <meta content="Mauritius Emergency Services Go API Mervin Hemaraju" name="keywords">
{% endblock %}


{% block body %}

<main id="main">

    <!-- ======= Portfolio Details ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">Mauritius Emergency Services Go API</h2>
            <div class="owl-carousel portfolio-details-carousel">
              <img src="{{ url_for('static', filename='img/portfolio/mesg.png') }}" class="img-fluid" alt="MESG Banner">
            </div>
          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Go Gin Gonic</li>
              <li><strong>Project URL</strong>: <a href="https://github.com/mervin16/Mauritius-Emergency-Services-Api-Go" target='_blank'>GitHub</a></li>
            </ul>

            <p>
            Mauritius Emergency Services is an API that provides a list of emergency phone services in Mauritius. 
            It has been designed in Go and Gin Gonic Framework hosted on Heroku. 
            It is a improvement of the MES written in Python.
            Current supported languages are English and French
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details -->

  </main><!-- End #main -->

{% endblock %}