{% extends 'master.html' %}

{% block title %}
Prometheus
{% endblock %}

{% block meta %}
<meta content="The Prometheus Project" name="description">
<meta content="Prometheus Python Flask Web" name="keywords">
{% endblock %}


{% block body %}

<main id="main">

  <!-- ======= Portfolio Details ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-8">
          <h2 class="portfolio-title">Prometheus</h2>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="https://hermes.b-cdn.net/static/img/portfolio/prometheus.webp" class="img-fluid"
              alt="Prometheus Banner">
          </div>
        </div>

        <div class="col-lg-4 portfolio-info">
          <h3>Project information</h3>
          <ul>
            <li><strong>Category</strong>: Python, Flask</li>
            <li><strong>Project URL</strong>:
              <a href="https://github.com/mervin16/Prometheus" target='_blank'>GitHub Repo</a> |
              <a href="https://github.com/mervin16/Prometheus/wiki" target='_blank'>Wiki</a>
            </li>
          </ul>

          <p>
            The Prometheus Project is the layout of the networking and other technologies for my Virtual Private Server
            Prometheus.
            Prometheus is hosted on the cloud infrastructure provider Digital Ocean and the referenced repo and wiki
            above contains all the information and strategies used for the provisioning and maintenance of the VPS.
          </p>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Details -->

</main><!-- End #main -->

{% endblock %}