{% extends 'master.html' %}

{% block title %}
    Th3pl4gu3
{% endblock %}

{% block meta %}
    <meta content="Th3pl4gu3 personal web app" name="description">
    <meta content="Th3pl4gu3 Mervin Hemaraju" name="keywords">
{% endblock %}


{% block body %}

<main id="main">

    <!-- ======= Portfolio Details ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">Th3pl4gu3</h2>
            <div class="owl-carousel portfolio-details-carousel">
              <img src="{{ url_for('static', filename='img/portfolio/th3pl4gu3.webp') }}" class="img-fluid" alt="Th3pl4gu3 Banner">
              <img src="{{ url_for('static', filename='img/portfolio/python.webp') }}" class="img-fluid" alt="Python Logo">
            </div>
          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Python, Flask</li>
              <li><strong>Project URL</strong>: 
              <a href="https://www.th3pl4gu3.com/" target='_blank'>Official Website</a> | 
              <a href="https://github.com/mervin16/Th3pl4gu3" target='_blank'>GitHub Repo</a></li>
            </ul>

            <p>
              Th3pl4gu3 is my personal portfolio-like web app demonstrating all the projects i worked on in my spare time.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details -->

  </main><!-- End #main -->

{% endblock %}